.page-container {
  background: #E5E9F2;
  min-height: 90vh;
  padding: 3.6rem;
}

.login-container {
  background: #FFF;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

.credentials,
.signup {
  width: 60%;
  margin: 0 auto;
}

hr {
  width: 75%;
}

.credentials {
  margin-top: 2rem;
}

.credentials button,
.signup button {
  width: 100%;
  padding: .75rem 2rem;
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 100%;
    margin: 0 0;
  }
}
