.upload-container {
  margin-left: 3.6rem;
  margin-right: 3.6rem;
}

.page-title {
  text-decoration: underline;
  margin: 2rem 0;
}

.upload-controls {
  margin-bottom: 7rem;
}

.upload-button {
  float: left;
}

.file-input {
  float: right;
  width: 220px;
}

.drop-container {
  background: #E5E9F2;
  border: dashed 2px #000;
  width: 100%;
  margin-bottom: 8rem;
}

.upload-image {
  width: 300px;
  display: inline-block;
}

.upload-text {
  font-size: 45px;
  font-weight: bold;
  color: #969EA9;
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .upload-button,
  .file-input {
    width: 100%;
    margin: 1rem auto;
    float: none;
  }

  .file-input {
    margin-left: 1.5rem;
  }

  .drop-container {
    display: none;
  }
}
