<div class="container">
    <h1 class="page-title">Upload Your Media</h1>

    <div class="row upload-controls">
      <div class="col-md-6 btn-container">
          <a href="#" class="btn btn-success btn-lg active upload-button" role="button" aria-pressed="true">Upload</a>
      </div>
      <div class="col-md-6 file-container">
          <form class="file-select">
              <div class="form-group">
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
          </form>
      </div>
    </div>

    <div class="container drop-container">
        <img class="upload-image" src="../../../assets/images/upload-cloud2.png" alt="Upload Cloud">
        <h3 class="upload-text">DRAG & DROP</h3>
    </div>
</div>
