.header-row {
  width: 93%;
  padding: 0;
  margin: 2rem auto;
}

.search-container {
    position: relative;
}

.search-field {
    display: block;
    padding: 15px;
}

.video-container {
  margin: 0 3.6rem;
}

.searched-videos {
  text-decoration: underline;
}

.card-deck {
  justify-content: start;
}

.card {
  margin-top:2rem;
  min-width: calc(100% / 3);
}

.card-text {
  font-size: 12px;
}

@media only screen and (max-width: 767px) {

  button.btn.btn-outline-success.my-2.my-sm-0 {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .card {
    min-width: calc(100% / 4);
  }
}

@media only screen and (min-width: 768px) {
  .message-text {
    text-align: left;
    margin-left: 5px;
  }

  .search-field {
    position: absolute;
    right: 4%;
    top: 5px;
  }
}

@media only screen and (min-width: 850px) {
  .search-field {
    right: 3%;
  }

  .card {
    min-width: calc(100% / 5);
  }
}

@media only screen and (min-width: 875px) {
  .search-field {
    right: 2%;
  }
}

@media only screen and (min-width: 990px) {
  .message-text {
    margin-left: 0;
  }

  .search-field {
    right: 1%;
  }
}

@media only screen and (min-width: 1000px) {
  .search-field {
    right: 0;
  }

  .card {
    min-width: calc(100% / 6);
  }
}

@media only screen and (min-width: 1250px) {
  .message-text {
    margin-left: -15px;
  }

  .search-field {
    right: -1%;
  }
}
